<div class="lenta">
    <div>Форум</div>
    {% for h in this.lenta.getHeaders() %}
    <div class="topic_box">
        <button class="topic" value="{{ h.user_id }}">{{ h.user_name }}</button>
        {{ h.time|date("d/m/y \\в H\\ч i\\мин") }} : {{ h.title }}
    </div>
    {%  endfor %}
    <div>***</div>
</div>
<script>
    function addMessages(el,msgs){
        // adds messages to the topic
        var tb=document.createElement('div');
        tb.className='text_box';
        msgs.forEach(function(msg){
            var div=document.createElement('div');
            div.className='topic_line';
            div.innerHTML="<span>"+msg.title+"</span>"+"<span>"+msg.text+"</span>";
            tb.appendChild(div);
        });
        el.parentNode.appendChild(tb);
    }
    function topic_on_click(e){
        e=e||event;
        var topic_box=e.target;
        var text_boxes=topic_box.parentNode.getElementsByClassName('text_box');
        if(text_boxes.length>0){
            topic_box.parentNode.removeChild(text_boxes[0]);
            return;
        }
        var uid=e.target.value;
        var req=new XMLHttpRequest();
        req.open('GET','/ajax/messages/'+uid,true);
        req.timeout=10000;
        req.send();
        req.onreadystatechange=function(){
            if(req.readyState!=4||req.status!=200)return;
            var arr_str=JSON.parse(req.responseText);
            if(arr_str.length<1)return;
            addMessages(topic_box,arr_str);
        }
    }
</script>