{% extends "default/base.twig.html" %}
{% block content %}
<h2>{{this._user.name|capitalize}} кабинет пользователя.</h2>
<div>
	<label>зарегистрирован<span>{{this._user.activated_date|date("d.m.Y")}}</span></label>
	<label>e-mail<span>{{this._user.email}}</span></label>
	<form method='post'>
		<label>Имя<input name='name' type='text' value="{{this._user.name}}" /></label>
		<label>Телефон<input name='phone' type='text' value="{{this._user.phone}}" /></label>
		<label>Адрес<input name='address' type='text' value="{{this._user.address}}" /></label>
		<button type='submit'>Сохранить</button>
	</form>
</div>
{% endblock %}